.toplevel_page_ucare_support .wp-menu-image img {
    height: 24px;
    padding: 4px 0 0 !important;
}

.flag-ticket.active {
    color: red;
}

.flag-ticket {
    color: #b4b9be;
}

.support-icon {
    font-size: 1.3em;
}

.toggle {
    cursor: pointer;
}

.support_ticket_metabox .metabox-field {
    width: 100%;
    padding: 5px;
    height: auto;
}

.support_ticket_metabox .form-table th {
    width: auto;
}

table.wp-list-table th i {
    margin: auto 0;
}

table.wp-list-table th.column-thumb,
table.wp-list-table td.thumb {
    text-align: center;
}

table.wp-list-table td.column-status .status-tag {
    margin-right: 5px;
}

table.wp-list-table td.column-status .stale-tag {
    border: 1px solid #ccc;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    padding: 0px 6px;
    border-radius: 3px;
    background: white;
    display: inline-block;
}

.inline-edit-col .quick-edit-field {
   width: 100%;
}

td.column-id.id:before {
    content: '' !important;
}

.ucare_filter_checkboxes {
    line-height: 25px;
    display: inline-block;
}

.ucare_filter_checkboxes input {
    margin-left: 5px;
}

.image-upload {
    display: none;
}

.support-upload {
    margin: 10px auto !important;
}

.support-admin-modal {
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.support-admin-modal.active {
    display: block;
}

.support-admin-modal .modal-wrap {
    width: 475px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}

.support-admin-modal .modal-header {
    border-bottom: 1px solid #eee;
    padding: 8px 20px;
}

.support-admin-modal .modal-header h3 {
    line-height: 150%;
    margin: 0;
}

.support-admin-modal .modal-content {
    padding: 5px 20px 20px 20px;
}

.support-admin-modal .modal-content textarea,
.support-admin-modal .modal-content input[type=text] {
    width: 100%;
}

.support-admin-modal .modal-footer {
    border-top: 1px solid #eee;
    padding: 12px 20px;
    text-align: right;
}

.support-admin-modal .modal-footer a {
    float: left;
}

.support-admin-modal .reason-input {
    margin-top: 5px;
    margin-left: 20px;
}

/* Settings Sidebar */
.ucare-admin-sidebar {
    display: none;
    width: 25%;
}

.ucare-sidebar-widget {
    background: #5bb8a7;
    padding: 15px;
    margin-top: 15px;
    border-radius: 3px;
}

.ucare-sidebar-widget .ucare-button {
    display: inline-block;
}

.ucare-sidebar-widget h3 {
    border-bottom: 1px solid #273140;
    padding-bottom: 10px;
    margin-top: 0;
    color: #273140;
}

/* Settings Header */
#ucare-settings-header {
    background: #0e7463;
    padding: 15px;
    color: #fff;
    border-radius: 3px;

}

#ucare-settings-header .header-component:nth-child(3){
    padding: 30px;
}

#ucare-settings-header h1 {
    color: #fff;
}

.ucare-url p{
    font-size: 15px;
    font-weight: 600;
}

.ucare-button {
    padding: 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
}

.ucare-button.secondary {
    background: #273140;
    color: #fff;
}

.ucare-button.secondary.small {
    padding: 8px;
    font-size: 14px;
}

.ucare-button.secondary:hover {
    background: #3f4d63;
}

#ucare-settings-header p {
    padding-bottom: 0;
    margin-bottom: 0;
}


#uc-settings_menu_page {
    font-family: 'Open Sans', sans-serif;
}

#uc-settings_menu_page .tabs-content {
    margin-top: 15px;
}

#uc-settings_menu_page .tabs-content h2{
    display: block;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 15px;
    background: #0e7463;
    color: #fff;
    margin-top: 30px;
    border-radius: 3px;
    margin-bottom: 0;
}

#uc-settings_menu_page .tabs-content h2:before {
    content: "\f347";
    font-family: 'dashicons';
    line-height: 18px;
    position: relative;
    top: 3px;
}

#uc-settings_menu_page .tabs-content .form-table {
    background: #fff;
    margin-top: 0;
}

#uc-settings_menu_page .tabs-content .form-table th,
#uc-settings_menu_page .tabs-content .form-table td{
    padding: 20px 15px;
}

#uc-settings_menu_page .tabs-content .form-table tr{
    border-bottom: 1px solid #eee;
}

#uc-settings_menu_page input[type="text"],
#uc-settings_menu_page input[type="number"],
#uc-settings_menu_page input[type="email"],
#uc-settings_menu_page input[type="url"]{
    padding: 8px 12px;
}

#uc-settings_menu_page input[type="text"]:focus,
#uc-settings_menu_page input[type="number"]:focus,
#uc-settings_menu_page input[type="email"]:focus,
#uc-settings_menu_page input[type="url"]:focus{
    box-shadow: 0 0 3px #0e7463;
    border: 1px solid #0e7463;
}

#uc-settings_menu_page #submit {
    padding: 15px;
    height: auto;
    font-size: 18px;
}

#ucare-tutorial .notice, 
#ucare-tutorial div.error, 
#ucare-tutorial div.updated,
#uc-settings_menu_page .notice, 
#uc-settings_menu_page div.error, 
#uc-settings_menu_page div.updated{
    display: none !important;
}

#ucare-tutorial h1 {
    font-size: 40px;
    line-height: 44px;
}

#ucare-tutorial h3 {
    font-size: 24px;
    line-height: 28px;
}

@media(min-width: 768px) {
    #uc-settings_menu_page .tabs-content {
        width: 70%;
    }

    #uc-settings_menu_page .tabs-content,
    .ucare-admin-sidebar {
        float: left;
        display: inline-block;
    }
    
    #uc-settings_menu_page .tabs-content h2,
    #uc-settings_menu_page .tabs-content .form-table {
        width: 90%;
    }
    
    #uc-settings_menu_page .tabs-content h2 {
        width: calc( 90% - 30px );
    }
    
}

@media(min-width: 768px) {

    .ucare-addon {
        width: 28%;
    }
    
   
}

/* Extensions */

a.ucare-addon-link {
    display: block;
    text-decoration: none;
}

.ucare-addon {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 14px;
    position: relative;
    margin: 0 1% 15px 0;
    height: 360px;
}

.ucare-addon h3 {
    font-size: 13px;
    margin: 0 0 8px;
}

.ucare-addon h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.ucare-addon p {
    color: #333;
}

.ucare-addon .ad {
    width: 100%;
    background: #e9e9e9;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.ucare-addon .ad span.dashicons {
    font-size: 40px;
    width: 40px;
    height: 40px;
}


.ucare-addon .ad.customer-satisfaction {
    background: #5bb8a7;
}

.ucare-addon .ad.email-piping {
    background: #22a3e0;
}

.ucare-addon .ad.mailchimp {
    background: #52bad5;
}
.ucare-addon .ad.mailchimp img {
    max-height: 40px;
}

.ucare-addon .ad.knowledge-base {
    background: #0073aa;
}

.ucare-addon .ad.live-chat {
    background: #ff6f6f;
}

.ucare-addon .ad.custom-fields {
    background: #ffb86f;
}

.ucare-addon .ad.canned-responses {
    background: #6f95ff;
}

.ucare-addon .ad.agent-notes {
    background: #ff6fb8;
}

.ucare-addon .ad.paid-support {
    background: #011c25;
}

.ucare-addon .ad.auto-ticket-routing {
    background: #de5d3f;
}


/** Activations page **/
.ucare-extension-activation {
    float: left;
    width: 100%;
    background: #fff;
    margin: 10px 10px 0 0;
    border: 1px solid #ddd;
}

.ucare-extension-activation h3 {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    background: rgba(0, 0, 0, 0.02);
}

.ucare-extension-activation p {
    padding: 10px;
}

.ucare-extension-activation .ucare-license-key {
    width: 100%;
}

.ucare-extension-activation .license-expiration {
    height: 40px;
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    font-size: 14px;
}

.ucare-extension-activation .button {
    margin-top: 10px;
}

@media(min-width: 783px) {

    .ucare-extension-activation {
        width: 30%;
    }

}